.v-app-bar{
    height: 78px !important;
    box-shadow: none !important;
}
.v-toolbar__content{
    width: 1140px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen {
    
}