.v-app-bar{
    height: 78px !important;
    box-shadow: none !important;
}
body p {
    // font-family: Barlow;
    // font-size: 14px;
}
.v-toolbar__content{
    width: 1140px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*, :after, :before {
    box-sizing: border-box;
}

.used-now button{
    border-radius: 20px;
}
.used-now .v-btn__content{
    color: rgb(217,103,4);
    font-size: 20px;
    font-weight: 700;
}
.button-view-now{
    border-radius: 20px;
}
.button-view-now .v-btn__content{
    color: #fff;
}
.list-product-sline .vueperslides__arrow--prev{
    left: unset !important;
    top: 160px !important;
}
.list-product-sline .vueperslides__arrow--next{
    right: 0px !important;
    top: 160px !important;
}

.share-model .vueperslides__arrow--next{
    right: -20px !important;
    top: 30px !important;
}

.share-model .vueperslides__arrow--prev{
    left: -25px !important;
    top: 30px !important;
}


.sub-menu .v-sheet{
    background-color: unset !important;
}

.ck-content {
    border: 1px solid lightgray !important;
    min-height: 400px !important;
}

#content img {
    width: 80% !important;
}

#content p:has(img) {
    text-align: center;
}
.introduction{
    font-size: 16px;
}
.introduction h1{
    font-size: 20px;
}

.technology-wrap p{
    font-size: 16px;
}

#preview-content {
    padding: 10px 10px 10px 10px !important;
 }
 

 #preview-content .image {
     width: 100% !important;
 }

 #preview-content .image{
    width: 60%;
    margin: 0px auto;
    text-align: center;

}

 #preview-content .image.image-style-block-align-right{
    width: 60%;
    text-align: right;
 }

 #preview-content .image.image-style-block-align-left {
    width: 60%;
    text-align: left;
 }
.option-display-rating .v-btn{
    color: #ee4d2d !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
