.v-app-bar{
    height: 78px !important;
    box-shadow: none !important;
}
body * {
    font-family: Barlow;
    font-size: 14px;
}
.v-toolbar__content{
    width: 1140px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*, :after, :before {
    box-sizing: border-box;
}

.used-now button{
    border-radius: 20px;
}
.used-now .v-btn__content{
    color: rgb(217,103,4);
    font-size: 20px;
    font-weight: 700;
}
.button-view-now{
    border-radius: 20px;
}
.button-view-now .v-btn__content{
    color: #fff;
}
.list-product-sline .vueperslides__arrow--prev{
    left: unset !important;
    top: 160px !important;
}
.list-product-sline .vueperslides__arrow--next{
    right: 0px !important;
    top: 160px !important;
}
.sub-menu .v-sheet{
    background-color: unset !important;
}
  